
*{
    padding: 0;
    margin: 0;
}

.header{
    padding: 10px;
    /* display: none;   display: none; */
    text-align: center;
    align-items: center;
    line-height: 100px;
    width: 100%;
    height: 200px;
    background-color: black;
    color:white

}

.header h1{
    padding-top: 20px;
    padding-left: 20px;
}
 
.cards{
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.card{
    /* display: none;                       display: none; */
    padding: 50px;
    width: 200px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 14px 1px  rgb(147, 243, 246);
    margin: 5px;
    background-color: rgb(199, 248, 253);
    height: 300px;
}

.infor_produto{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card img{
    padding: 10px 5px ;
    width: 200px;
    border-radius: 50px;
    
    height: 200px;
}



.carrinho_comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: fixed;
    bottom: 5px;
    right: 3px;
}
.carrinho_comprar i{
    display: block;
    font-size: 45px;
    width: 60px;
    background-color: rgb(123, 251, 114);
}

.carrinho_comprar i:hover{
    cursor: pointer;
}

.adicionar{

   background-color: red;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 190px;
   margin-bottom: 10px;
   
    
 
}

.nome-saldo, .saldo-atual{
    font-size: 25px;
}

.saldo-atual{
    background-color: blanchedalmond;
}


.saldo-money{
    height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    display: none;   /*tem que ser flex*/
    gap: 5px;
    width: 100%;
}

.adicionar:hover{
    cursor: pointer;
}
 
.adicionar span i{
    font-size: 30px;
    
   
}
.carrinho_pointer{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 157, 157);
    border-radius: 50%;
}

.header_produto_sele{
    padding: 10px;
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
}
.produto_sele{
    width: 100%;
    display: none;
    padding: 0;
    margin: 0;
    

}
.cards_selecion{
    width: 50%;
    padding: 10px;
    display: flex;
    gap: 5px;
    align-content:space-between;
    overflow: scroll;
    
    height: 50vh;
    flex-basis: 45rem;
    flex-wrap: wrap;
    margin: 5px;
    background-color: #e0b8b8;
   
    border: 1px solid red;
}

.card-sele{
    position: relative;
    background-color: rgb(253, 79, 79);
    padding: 15px;
    border-radius: 10px;
    width: 140px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
    height: 200px;
}

.card-sele img{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}
.card-sele span{
    color: azure;
}

.remove_cards{
    position: absolute;
    top:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #84179f;
    cursor: pointer;
    right: 10px;
}

.resultado_comprar{
    background-color: rgb(125, 223, 125);
    width: 500px;
    
    order: 2;
    
    height: 50vh;
}

.quantidade_produto,.total{
    background-color: rgb(206, 234, 239);
    padding: 10px;
    margin: 5px;
}

.organiza_cards{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.produto, .total{
    color: rgb(46, 165, 72);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.voltar_product{
    background-color: blue;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    color: white;
}

i{
    background-color: rgb(177, 39, 159);
    color: white;
}
i:hover{
    background-color: rgb(231, 17, 203);
}